name: GitHub Profile Views Counter CI
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  release:
    name: GitHub Profile Views Counter Action
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          token: ${{ secrets.INSIGHTS_TOKEN }}

      - name: Configure Git Identity
        run: |
          git config --global user.name "Peme969 [dev]"
          git config --global user.email "github@peme969.dev"

      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.17.0

      - uses: gayanvoice/github-profile-views-counter-action@3.0.0
        env:
          INSIGHTS_TOKEN: ${{ secrets.INSIGHTS_TOKEN }}
